@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  button {
    @apply h-6 rounded-md mr-3 px-4 bg-gray-800 text-gray-100 mt-1 hover:bg-gray-600
  }

  input {
    @apply shadow border block rounded py-1 px-3 my-2
  }

  blockquote {
    @apply italic text-gray-500 pl-3
  }
}
  

body {
  margin: 0 auto;
  max-width: 810px;
}

.loading {
	animation-name: changeColor;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes changeColor {
  0% {
    color: #00000021;
  }

  50% {
    color: #000000;
  }

  100% {
    color: #00000021;
  }
}
